<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Your amount of Cars</title>
</head>

<body>

<div>
    <table >

        <style>
            table {}
            th, td {
                border: 1px solid black;
            }
        </style>

        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}">Id</td>
            <td th:text="${car.getModel()}">Model</td>
            <td th:text="${car.getSeries()}">Series</td>
        </tr>
    </table>
</div>

</body>
</html>